{% extends "layout/_base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<section>
    <div class="p-16">
        <h1 class="mb-8 text-4xl border-b-8 border-blue-400 pb-6 text-left">About us</h1>
        <h1 class="mb-8 text-3xl text-gray-700 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea fugit inventore libero non porro recusandae voluptate! Aspernatur atque distinctio hic illo nam obcaecati perferendis reiciendis sed. Earum error placeat vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi est iusto laborum necessitatibus nesciunt odit, officiis quae, quia saepe tenetur veniam voluptas? A accusamus eaque est magni, molestiae nihil repudiandae?</h1>
    </div>
</section>
{% endblock %}