<nav class="w-full text-center overflow-hidden  bg-sky-700">
    <a href="{{ url_for('home') }}" class="px-8 py-4 inline-block font-bold text-white bg-sky-700 hover:bg-sky-800">HOME</a>
    <a href="{{ url_for('posts') }}" class="px-8 py-4 inline-block font-bold text-white bg-sky-700 hover:bg-sky-800">POSTS</a>
    <a href="{{ url_for('new_post') }}" class="px-8 py-4 inline-block font-bold text-white bg-sky-700 hover:bg-sky-800">NEW POST</a>
    <a href="{{ url_for('about') }}" class="px-8 py-4 inline-block font-bold text-white bg-sky-700 hover:bg-sky-800">ABOUT US</a>
</nav>